<!DOCTYPE html>
<html>
<head>
    <title>Авторизация</title>

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/account/account.css' %}">
</head>
<body>
    <div class="container">
        <h2>Авторизация</h2>
        <form method="post">
            <label for="username">Имя пользователя:</label>
            <input type="text" id="username" name="username" required><br>
            
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required><br>
            
            <input type="submit" value="Войти">
        </form>
    </div>
</body>
</html>