{% extends 'base.html' %}

{% block title %}
    <title>MyProfile</title>
{% endblock %}

{% block content %}
    <div class="profile-container">
        <div class="profile-header">
            <img src="{{ user.profile.avatar.url }}" alt="Аватар" class="avatar">
            <h1>{{ user.username }}</h1>
        </div>
        <div class="profile-description">
            {% if user.profile.description %}
                <p>{{ user.profile.description }}</p>
            {% else %}
                <p>Добавить описание.</p>
            {% endif %}
        </div>
        <div class="profile-posts">
            <h2>MyMonsters</h2>
            <ul class="monster-list">
                {% for monster in monsters %}
                    <li class="monster-card">
                        <img src="{{ monster.monster.image.url }}" alt="Monster's view">
                        <h3 class="monster-name">{{ monster.monster.name }}</h3>
                        <p class="monster-description">{{ monster.monster.description }}</p>
                        <p class="monster-productivity"><b>Productivity: </b>{{ monster.monster.productivity }} coins/min</p>
                        <p class="monster-quantity"><b>In stock: </b>{{ monster.quantity }}</p>
                        <p class="monster-wealth"><b>Total earned: </b>{{ monster.wealth }}</p>
                        
                        {% if monster.quantity > 0 %}
                            <div class="counter-container">
                                <form method="post" action="{% url 'collect-coins' pk=monster.monster.id %}">
                                    {% csrf_token %}
                                    <button id="reset-button">Collect</button>
                                </form>
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}