{% extends 'base.html' %}

{% block title %}
    <title>MyProfile</title>
{% endblock %}

{% block content %}
    <div class="profile-container">
        <div class="profile-header">
            <img src="https://sopranoclub.ru/images/memy-na-avu-275-memnyh-avatarok/file56870.jpeg" alt="Аватар" class="avatar">
            <h1>{{ user.username }}</h1>
        </div>
        <div class="profile-description">
            {% if user.profile.description %}
                <p>{{ user.profile.description }}</p>
            {% else %}
                <p>Добавить описание.</p>
            {% endif %}
        </div>
        <div class="profile-posts">
            <h2>MyMonsters</h2>
            <ul>
                <li>Пост 1</li>
                <li>Пост 2</li>
                <li>Пост 3</li>
            </ul>
        </div>
    </div>
{% endblock %}