{% extends 'base.html' %}

{% block title %}
    <title>{{ monster.name }}</title>
{% endblock %}

{% block content %}
    <div class="product-detail">
        <img src="{{ monster.image.url }}" alt="Monster's view">
        <h1>{{ monster.name }}</h1>
        <p class="description"><i>{{ monster.description }}</i></p>
        <p class="price"><b>Price: </b>{{ monster.price }}</p>
        <p class="productivity"><b>Productivity: </b>{{ monster.productivity }} coins/min</p>
    </div>
{% endblock %}