{% extends 'base.html' %}

{% block title %}
    <title>MyShop</title>
{% endblock %}

{% block content %}
    <div class="product-list">
        {% for monster in monsters %}
            <div class="product-card">
                <img src="{{ monster.image.url }}" alt="Monster's view">
                <a href="{% url 'monster-detail' pk=monster.id %}">{{ monster.name }}</a>
                <p><i>{{ monster.description }}</i></p>
                <p><b>Price: </b>{{ monster.price }} coins</p>
                <p><b>Productivity: </b>{{ monster.productivity }} coin/min</p>
                <div class="buy-section">
                    <form method="post" action="{% url 'buy-monster' pk=monster.id %}">
                        {% csrf_token %}
                        <div class="quantity">
                            <label for="quantity">Quantity:</label>
                            <input type="number" id="quantity" name="quantity" value="1" min="1">
                            <button class="buy-button" type="submit">Buy</button>
                        </div>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}