{% extends 'base.html' %}

{% block title %}
    <title>MyShop</title>
{% endblock %}

{% block content %}
    <div class="product-list">
        {% for monster in monsters %}
            <div class="product-card">
                <img src="{{ monster.image.url }}" alt="Monster's view">
                <a href="{% url 'monster-detail' pk=monster.id %}">{{ monster.name }}</a>
                <p>{{ monster.description }}</p>
                <p>Price: {{ monster.price }} coins</p>
                <p>Productivity: {{ monster.productivity }} coin/min</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}