.profile-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.profile-header {
    display: flex;
    align-items: center;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-header h1 {
    margin: 0;
}

.profile-description {
    margin-top: 20px;
}

.profile-posts {
    margin-top: 20px;
}

.profile-posts h2 {
    font-size: 1.2em;
}

.profile-posts ul {
    list-style-type: none;
    padding: 0;
}

.profile-posts li {
    margin-bottom: 10px;
}

.monster-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-around;
}

.monster-card {
    width: calc(30% - 10px);
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
}

.monster-card img {
    width: 180px;
    height: 150px;
}

.monster-name {
    font-size: 1.2rem;
    margin: 10px 0;
}

.monster-description {
    font-size: 0.9rem;
    color: #777;
}

.monster-productivity, .monster-quantity, .monster-wealth {
    font-size: 1rem;
    margin: 5px 0;
}

.counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#reset-button {
    background-color: #009A63;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    text-align: right;
}

#reset-button:hover {
    background-color: #006633;
}